ejb/src/main/resources/schema/user.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.eggshell.com/kanoting/data"
    xmlns="http://www.eggshell.com/kanoting/data"
    elementFormDefault="qualified">


    <xs:element name="User">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
            <!--<xs:element name="lastname" type="xs:string"/>
            <xs:element name="nickname" type="xs:string"/>
            <xs:element name="marks" type="xs:positiveInteger"/>-->
        </xs:sequence>
        <!--<xs:attribute name='rollno' type='xs:positiveInteger'/>-->
    </xs:complexType>
    </xs:element>
</xs:schema>